.footer {
    font-family: 'Brewski', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    font-family: 'Brewski', sans-serif !important;
}

.text {
    font-family: 'Brewski', sans-serif !important;
}

.h3 {
    font-family: 'Brewski', sans-serif !important;
    text-align: center;
}

.copyRight {
    font-family: 'Oswald', sans-serif;
}